<div class="cart-container">
    <h2>Your Cart</h2>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart;let i = index">
          <td><img width="50" [src]="item.image"></td>
          <td>{{item.title}}</td>
          <td>{{item.categoryName}}</td>
          <td>{{formatCurrency(item.price)}}</td>
          <td>
            <select [(ngModel)]="item.quantity" (change)="updateQuantity(i)">
              <option *ngFor="let qty of quantityOptions" [value]="qty">{{ qty }}</option>
            </select>
            pc(s)</td>
          <td><a class="removeCart" (click)="removeFromCart(item)"><span style="color: black;" class="material-icons">cancel</span></a></td>
        </tr>
      </tbody>
    </table>
    <p class="amount-p">Your sub-total will be: <span class="bold">{{formatCurrency(total)}}</span></p>
    <p class="amount-p">Taxes: <span class="bold">{{formatCurrency(taxes)}}</span></p>
    <p class="amount-p">Total: <span class="bold">{{formatCurrency(totalAmount)}}</span></p>

    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" class="btn btn-success green" (click)="placeOrder()" mat-raised-button>Place order</button>

  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>