<div class="row">
  <ng-container *ngIf="products.length > 0; else noProducts">
    <ng-container *ngFor="let p of products; let i = index">
      <div class="col" style="margin-top: 20px">
        <div class="card" style="width: 18rem">
          <img
            src="{{ p.image }}"
            class="card-img-top product-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ p.title }}</h5>
            <p class="card-text">{{ formatCurrency(p.price) }}</p>
            <a (click)="addToCart(p)" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noProducts>
    There are no products available in this category
  </ng-template>
</div>
